body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.border {
	border: 1px solid #000;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}
